@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
@if (@Model.CurrentUser == null) {
    @using AspNetCore.ReCaptcha
    <h1>Login</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="LoginForm.Email" class="control-label"></label>
                    <input asp-for="LoginForm.Email" class="form-control" />
                    <span asp-validation-for="LoginForm.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LoginForm.Password" class="control-label"></label>
                    <input asp-for="LoginForm.Password" class="form-control" />
                    <span asp-validation-for="LoginForm.Password" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="LoginForm.RememberMe" /> @Html.DisplayNameFor(model => model.LoginForm.RememberMe)
                    </label>
                </div>
                @Html.ReCaptcha()
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
}
else{
    <h1>Hi @(Model.CurrentUser.FirstName) @(Model.CurrentUser.LastName)!</h1>
    <hr />
    <div class="row">
        <dl class="col-sm row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CurrentUser!.Gender)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CurrentUser!.Gender)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CurrentUser!.NRIC)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CurrentUser!.NRIC)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CurrentUser!.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CurrentUser!.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CurrentUser!.BirthDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CurrentUser!.BirthDate)
            </dd>
            
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CurrentUser!.WhoAmI)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CurrentUser!.WhoAmI)
            </dd>
        </dl>
        <div class="col-sm">
            <h4>@Html.DisplayNameFor(model => model.CurrentUser!.Resume)</h4>
            <iframe src="/uploads/@Model.CurrentUser.Resume"></iframe>
        </div>
    </div>
}
